

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(252, 252, 252)
}

.menu {
  background-color: #666;
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%; 
  z-index: 100;
}

.menu .menu-title {
  float: left;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 4px 4px;
  color: #f2f2f8;
  width: 30%;
  height: 80px;
  text-decoration: none;
}

.menu .menu-title p {
  position: relative;
  top: 20%;
  font-size: 50px; 
}

.menu .menu-buttons {
  float: right;
  text-align: center;
  width: 50%;
  padding: 24px 6px;
  text-decoration: none;
  font-size: 16px;
}

.btn.btn-primary {
  color: black;
  background-color: white;
}

.menu .bread-base {
  padding: 8px 10px;
  text-decoration: none;
  background-color: black;
  width: 100%;
  clear: both;
}

.menu .bread-base * {
  color: #f2f2f8;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
}

.content-base {
  padding: 16px 16px;
  top: 130px;
  position: relative;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 100px;
}

.sub-categories-header *{
  padding: 16px 16px;
  position: relative;
  max-width: 800px;
  margin: auto;
  margin-bottom: 10px;
}

.sub-categories-header-page-title {
  color: red;
  font-weight: bold;
  font-size: 18px;
}

.sub-categories-header-page-desc {
  font-size: 16px;
  font-weight: bold;
}

.sub-categories-item {
  padding: 16px 16px;
  position: relative;
  max-width: 800px;
  margin: auto;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: thin;
  margin-bottom: 10px;
}

.sub-categories-item *{
  padding-top: 10px;
  padding-bottom: 10px;
}

.product-item-base {
  box-sizing: border-box;
  float: left; 
  width: 50%;
  padding: 10px;
  height: 300px;
}

.product-item-name {
  font-weight: bold;
  font-size: 18px;
}

.product-item-img {
  float: left;
  width: 30%;
}

.product-item-desc {
  float: right;
  width: 60%;
}

.product-item-price-btn {
  float: right;
  width: 60%; 
}

.product-item-price-btn p {
  margin-top: 0px;
  float: left;
}

.product-item-price-btn .ui-button {
  float: right;
}  
  
.product-item-base-row:after {
  content: "";
  display: table;
  clear: both;
}

  

.footer-base {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #666;
  color: white;
  text-align: right;
}  

.footer-base p{
  margin-right: 30px;
}
  