<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <link rel='stylesheet' href='/stylesheets/style.css' />
   
  </head>

<body>

  <div class="menu">

    <div class="menu-title">
      <p> <%= title %> </p>
    </div>

    <div class="menu-buttons">
            
      <% menu.forEach(function(item, i){ %>

        <%if (item.choice) { %>

          <a href='/categories/<%= item.id %>' class="btn btn-success btn-lg" id='hid-<%= item.id %>' role="button" aria-pressed="true"><%= item.name %></a>  
        <% } else { %>
          <a href='/categories/<%= item.id %>' class="btn btn-primary btn-lg" id='<%= item.id %>' role="button" aria-pressed="true"><%= item.name %></a>

        <% }; %>

      <% }); %>

    </div> 

    <div class="bread-base">

      <% breadcrumbs.forEach(function(bi, i){ %>
        
        <%if (i > 0) { %>
        &nbsp <b> / </b> &nbsp
        <% } %>  
            
        <a class="bread-link" href='<%= bi.url %>'> <%= bi.name %> </a>

      <% }); %>

    </div>

  </div>

  <div class="content-base">





