<%- include('partials/menu', {title:title, menu: menuitems}); %>


<div class="sub-categories">

    <div class="sub-categories-header">
      <div class="sub-categories-header-page-title">
        <%= pagetitle %> 
      </div>
      <div class="sub-categories-header-page-desc">
        <%= pagedesc %>
      </div>  
    </div>

    <br>

    <% subitems.forEach(function(subitem){ %>
      <div class="sub-categories-item">
        <div class="sub-categories-item-img">
          <img src='/public/images/<%= subitem.image %>'  alt='<%= subitem.name %>'>
        </div>
        <div class="sub-categories-item-desc">
          <%= subitem.page_description %> 
        </div>
        <div class="sub-categories-item-btn">
            <a class="ui-button ui-widget ui-corner-all" href='/products/<%= subitem.id %>'> View Product </a>
        </div>  
      </div> 
        
    <% }); %>


</div>

<%- include('partials/footer', {text: footer}); %>
