<%- include('partials/menu', {title:title, menu: menuitems}); %>

<div class="products-main-base">


 <% products.forEach(function(prod, i){ %>

    <%if (i % 2 == 0) { %>
    <div class="product-item-base-row">
      <div class="product-item-base">
    
        <div class="product-item-name">
          <p> <%= prod.name %> </p>
        </div>

        <div class="product-item-img">
          <img src='/public/images/<%= prod.link %>'  alt='<%= prod.name %>'>
        </div>

        <div class="product-item-desc">
          <p> <%= prod.short_description %> </p> 
        </div>

        <div class="product-item-price-btn">
          <p> <%= prod.price %> </p> 
          <a class="ui-button ui-widget ui-corner-all" href='/products/<%= prod.id %>'> More Info </a>
        </div>
             
      </div>
    <% }else{ %>
      <div class="product-item-base">

        <div class="product-item-name">
          <p> <%= prod.name %> </p>
        </div>

        <div class="product-item-img">
          <img src='/public/images/<%= prod.link %>'  alt='<%= prod.name %>'>
        </div>

        <div class="product-item-desc">
          <p> <%= prod.short_description %> </p> 
        </div>

        <div class="product-item-price-btn">
          <p> <%= prod.price %> </p>
          <a class="ui-button ui-widget ui-corner-all" href='/products/<%= prod.id %>'> More Info </a>
        </div>

      </div>
    </div>  
    
    <% } %>

      
  <% }); %>

</div>

<%- include('partials/footer', {text: footer}); %>
